{% extends "Common/common.twig" %}
{% block container %}
    <div class="mainleft">
        <ul class="masonry clearfix" id="post_container">
            <li class="post box row fixed-hight">
                <div class="post_hover">
                    <div class="thumbnail">
                        <a title="2015年 发条城市 [王宁 修睿 王自健等主演]" rel="bookmark" class="zoom" href="http://gaoqing.la/foolish-plans.html">
                            <img alt="2015年 发条城市 [王宁 修睿 王自健等主演]" src="{{base_url('public/home/picture/ed5e6a1djw1f7ha08be19j20go0nt40s.jpg')}}"></a>
                    </div>
                    <div class="article">
                        <h2>
                            <a title="2015年 发条城市 [王宁 修睿 王自健等主演]" rel="bookmark" href="http://gaoqing.la/foolish-plans.html">2015年 发条城市 [王宁 修睿 王自健等主演]</a></h2>
                        <div class="arrow-catpanel-top">&nbsp;</div></div>
                    <div class="info">
                        <span class="info_date info_ico">09-04</span>
                        <span class="info_category info_ico">
                            <a rel="category tag" title="查看WEB-DL标清中的全部文章" href="http://gaoqing.la/webdl">WEB-DL标清</a></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}