{% extends "Common/iframe_common.twig" %}
{% block container %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>菜单列表</h5>
                    </div>
                    <div class="ibox-content container-fluid">
                    	<form>
	                        <div class="row col-md-12">
	                            <div class="col-md-3 form-group">
	                            	<label for="null" class="center-block">&nbsp;</label>
	    							<button type="button" class="btn btn-primary add-link"><i class="fa fa-plus"></i>&nbsp;添加链接
	    							</button>
	                            </div>
	                        </div>
                        </form>
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                    	<th>id</th>
                                        <th>链接名称</th>
                                        <th>排序</th>
                                        <th>打开方式</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% autoescape true %}
                										{{tr|raw}}
                									{% endautoescape %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $(document).on('click','.add-link',function(){
            var openLayer = layer.open({
              type: 2,
              closeBtn:1,
              title:'添加链接',
              shadeClose: false, //开启遮罩关闭
              area: ['70%', '90%'],
              maxmin: true,
              content:'{{base_url("admin/Menus/renderNavigation")}}'
            });
            layer.full(openLayer)
        })
	    $(document).on('click','.edit-btn',function(){
	        var id = $(this).data('id')
	        var openLayer = layer.open({
	          type: 2,
	          closeBtn:1,
	          title:'编辑链接',
	          shadeClose: false, //开启遮罩关闭
	          area: ['600px', 'auto'],
	          maxmin:true,
	          content:'{{base_url("admin/Menus/renderNavigation")}}?nid='+id,
	        });
	        layer.full(openLayer)
	    })
        $(document).on('click','.delete-btn',function(e){
            var $this = $(this);
            var id = $this.data("id");
            layer.msg("确认删除",{
                time:0,
                btn:['确认','取消'],
                yes:function(){
                    $.ajax({
                        url: '{{base_url("admin/Menus/delNavigation")}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'nid': id},
                        timeout:4000,
                        beforeSend:function(){
                            layer.load(2);
                        }
                    })
                    .done(function(e) {
                        if (e.status!=1) {
                            common.ajaxError(e);
                            return false;
                        }
                        layer.closeAll();
                        window.location.reload();
                        parent.layer.msg(e.message,{
                            icon:1
                        });

                    })
                    .fail(function(e) {
                        common.ajaxError(e)
                    })
                    .always(function() {
                        layer.closeAll('loading');
                    });

                }
            })
        })
    })






    </script>
{% endblock %}
